body {
    padding: 30px 120px;
    height: 1000px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.title {
    text-transform: uppercase;
    color: #174180;
    font-size: 26px;
    width: 30%;
    height: 10%;
    margin-bottom: 3px;
}

h2 {
    font-size: 26px;
    margin: 0;
}

.subtitle {
    background-color: #fde491;
    width: 30.5%;
    text-align: center;
    padding: 7px;
    clip-path: polygon(0% 0%, 100% 0, 95% 50%, 100% 100%, 0% 100%);
}

.logo {
    margin-top: 7px;
    width: 150px;
    height: 45px;
}

.factory-section {
    background-color:#FEFCE0;
    border: solid black 1px;
    height: 400px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 15px 0px 15px;
    height: 85%;
}

.info {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 85%;
}

.text {
    background-color: #FFFFFF;
    padding: 8px;
    box-sizing: border-box;
    width: fit-content;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
}

.text:nth-child(1) {
    padding-bottom: 25px;
}

.text:nth-child(2) {
    width: 95%;
    padding-bottom: 10px;
}

.text:nth-child(3) {
    width: 90%;
}


.text p {
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
}

.text .first-p {
    text-align: left;
    margin-right: 3%;
}

.text .second-p {
    text-align: justify;
    margin-right: 6%;
}

.text .third-p {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 9%;
}

.text img {
    width: 15%;
    height: 95%;
}

.robot-visual {
    width: 30%;
    height: 85%;
    border: solid black 1px;
    background-color: #FFFFFF; 
    position: relative;
}

.robot-visual p {
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    border-radius: 50%;
    border: solid black 1px;
}

.robot-body {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    width: 85px;
    height: 90px;
    background-color: #E96126;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.left-hand, .right-hand {
    position: absolute;
    background-color: #EBEBEB;
    height: 80px;
    width: 12px;
    top: 70px;
    border: solid #9F9F9F 2px;
    border-radius: 3px;
}

.left-hand {
    left: 90px;
}

.right-hand {
    right: 90px;
}

.left-leg, .right-leg {
    position: absolute;
    height: 50px;
    width: 12px;
    bottom: 47px;
    border: solid #9F9F9F 2px;
    border-radius: 3px;
}

.left-leg {
    left: 122px;
}

.right-leg {
    right: 122px;
}

.left-eye, .right-eye, .mouth {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid black 1px;
}

.left-eye {
    top: 10px;
    left: 7px;
}

.right-eye {
    top: 10px;
    right: 7px;
}

.mouth {
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 5px;
}